.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.12);

  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.navbar-icon {
  display: none;
}

@media (max-width: 900px) {
  .right {
    width: 100%;
  }

  .left {
    z-index: 100;
    position: absolute;
    transform: translateX(-100%);
    transition: transform ease-in-out .5s;
  }

  .show-menu {
    .left {
      transform: translateX(0);
    }

    .nav-overlay {
      z-index: 50;
      opacity: 1;
      display: block;
    }
  }

  .header {
    width: 100%;
  }

  .navbar-icon {
    border: dotted 1px transparent;

    font-size: 2rem;
    display: block;
    position: fixed;
    padding: 5px;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 10;

    &:focus {
      border: dotted 1px gray;
      border-radius: 10px;
    }
  }
}

