$navbar-height: 60px;
$left-width: 300px;

.fullscreen {
  height: 100vh;
  width: 100vw;
  position: relative;

  .header, .left, .body, {
    overflow: hidden;
  }
}

.left {
  position: relative;
  height: 100vh;
  width: $left-width;
}

.sidenav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.right {
  position: relative;
  height: 100vh;
  width: calc(100vw - #{$left-width});
}

.menu-entry {
  cursor: pointer;
  margin: 0;
  padding: .5rem 1rem;

  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .active {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  height: $navbar-height;
  width: calc(100vw - #{$left-width});

  position: relative;

  h1 {
    margin: 0;
  }
}


.body {
  height: calc(100vh - #{$navbar-height});
  width: calc(100vw - #{$left-width});

  overflow-x: hidden;
  overflow-y: auto;
}


.select-time {
  display: inline-flex;
  justify-content: space-between;
  margin: 1rem 0;
  min-width: 800px;
}

@media (max-width: 1200px) {
  .select-time {
    min-width: unset;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.close {
  font-size: xx-large;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  left: 0;
}